.buttonWrapper {
    width: 162px;
    height: 40px;
    background-color: #FF773C;
    color: white;
    border: 0;
    border-radius: 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}
.buttonDisabled {
    background-color: #ffbb9d;
}
