.app {
    display: flex;
    flex-flow: column;
    padding: 30px;
    height: 100vh;
}

.tabs {
    display: flex;
    flex-flow: row;
    padding: 10px 0;
    color: black;
  }
  
  .tab {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px #E7E7E7 solid;
  }
  
  .active-tab {
    border-bottom: 3px #FF773C solid;
  }